dtd/classsecurity.dtd

<!ELEMENT security ( authentication?, authenticate* ) >

<!ELEMENT authentication EMPTY >
<!ATTLIST authentication class NMTOKEN #REQUIRED >
<!ATTLIST authentication url CDATA #REQUIRED >

<!ELEMENT authenticate ( property*)  >
<!ATTLIST authenticate  class   CDATA  #REQUIRED >
<!ATTLIST authenticate  method  CDATA "class" >
<!ATTLIST authenticate  weight  CDATA "0" >


<!ELEMENT property EMPTY >
<!ATTLIST property  name NMTOKEN #REQUIRED >
<!ATTLIST property  value CDATA #REQUIRED >
