dtd/etxindices.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!--
    Document   : etxindices.dtd
    Created on : 16 december 2003, 15:58
    Author     : Rob van Maris
    Version    : $Revision: 1.1 $
-->

<!ELEMENT etxindices (sbspace*)>

<!ELEMENT sbspace (etxindex*)>
<!ATTLIST sbspace 
    name CDATA #REQUIRED>
    
<!ELEMENT etxindex (#PCDATA)>
<!ATTLIST etxindex 
    table CDATA #REQUIRED
    field CDATA #REQUIRED>


