dtd/eventmanager_1_0.dtd

<!-- Author: Ernst Bunders -->

<!ELEMENT eventmanager (brokers*,listeners*) >

<!ELEMENT brokers (broker* ) >
<!ELEMENT broker (param*) >
<!ATTLIST broker class  CDATA  #REQUIRED >

<!ELEMENT listeners (listener* ) >
<!ELEMENT listener (param*) >
<!ATTLIST listener class  CDATA  #REQUIRED >

<!ELEMENT param (#PCDATA)>

<!ATTLIST param name CDATA #REQUIRED>
