dtd/mediafilter_1_0.dtd

<!-- Author Rob Vermeulen (VPRO) -->
<!ELEMENT mainFilter (chain, filterConfigs?)>

<!ELEMENT chain (filter+)>
<!ELEMENT filter (#PCDATA)>
<!ATTLIST filter
  id NMTOKEN #IMPLIED
>


<!ENTITY % configSubTags "property*"><!-- default no configs, add them in the DOCTYPE of filters.xml -->

<!ELEMENT filterConfigs (config*)>

<!ELEMENT config (%configSubTags;)>
<!ATTLIST config
  filter NMTOKEN #REQUIRED
>

<!ELEMENT property (#PCDATA)>
<!ATTLIST property
  name NMTOKEN #REQUIRED
>
