dtd/module_1_0.dtd

<!--
     module.dtd
       - DTD for MMBase builder definitions
-->

<!ELEMENT module ( status?, url?, (classfile|class), properties? ) >
<!ATTLIST module maintainer NMTOKEN #IMPLIED >
<!ATTLIST module version NMTOKEN #IMPLIED >

<!ELEMENT status ( #PCDATA ) >
<!ELEMENT url ( #PCDATA ) >

<!ELEMENT classfile ( #PCDATA ) >
<!ELEMENT class ( #PCDATA ) >

<!ELEMENT properties ( property* ) >

<!ELEMENT property ( #PCDATA ) >
<!ATTLIST property name NMTOKEN #REQUIRED >


