dtd/security_1_0.dtd

<!ATTLIST security active (true|false) #REQUIRED >
<!ELEMENT security ( key?, authentication, authorization, sharedsecret? ) >
<!ELEMENT authentication EMPTY >
<!ATTLIST authentication class NMTOKEN #REQUIRED >
<!ATTLIST authentication url CDATA "" > 

<!ELEMENT authorization EMPTY >
<!ATTLIST authorization class NMTOKEN #REQUIRED >
<!ATTLIST authorization url CDATA "" > 

<!ELEMENT sharedsecret ( #PCDATA ) >
<!ELEMENT key ( #PCDATA ) >
