dtd/util_1_0.dtd

<!--
     util.dtd - DTD for MMBase utils
-->

<!ELEMENT util ( properties ) >

<!ELEMENT properties ( property* ) >

<!ELEMENT property ( #PCDATA | entry )* >
<!ATTLIST property name CDATA #REQUIRED >
<!ATTLIST property type NMTOKEN "string" >


<!ELEMENT entry ( key, value? ) >
<!ELEMENT key  ( #PCDATA ) >
<!ELEMENT value  ( #PCDATA ) >
